@inherits LayoutComponentBase

<header class="navbar">
    <div class="logo"><a href="/">Learnify</a></div>
    <ul>
        <li><NavLink href="#" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="#">About</NavLink></li>
        <li><NavLink href="#">Contuct us</NavLink></li>
    </ul>
    <div class="buttons">
        <a href="Sign_in"><button class="login-btn">Log in</button></a>
        <a><button class="signup-btn">Sign up</button></a>
    </div>
</header>

<main>
    @Body
</main>