@page "/"

<PageTitle>Home</PageTitle>

<section class="headers">
  <h1>Failures are just debugging steps<br>Success is your final output</h1>
</section>

<section class="features">
  <a href="/Year1" class="Year">
    <h3>1st Year</h3>
    <p>Hello World, your coding journey begins</p>
  </a>
  <a href="/year2" class="Year">
    <h3>2nd Year</h3>
    <p>Debug mistakes, program your skills</p>
  </a>
  <a href="/year3" class="Year">
    <h3>3rd Year</h3>
    <p>Build projects, design your future.</p>
  </a>
  <a href="/year4" class="Year">
    <h3>4th Year</h3>
    <p>Compile your knowledge, execute your dreams.</p>
  </a>
</section>
